<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" media="screen" th:href="@{/css/modern-business.css}">
</head>
<body>
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Celestial Insurances</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services.do">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
        </div>
        <div class="col-lg-6">
            <h2>Who are we</h2>
            <p>We are celestial insurances, like our name says no boundary in the whole universe is too difficult for us</p>
            <p>If you choose us We will go to great lengths for you, you never have to worry a day in your life</p>
            <p>We provide the most important insurances just for you but we can also make custom insurances. If you need one, we got it</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body">
                    <h4 class="card-title">Samuel LunaSol</h4>
                    <h6 class="card-subtitle mb-2 text-muted">CEO</h6>
                    <p class="card-text">Running Celestial insurances wasn't always easy but we reacher our peak performance when I become CEO? we are stronger, better and more efficient than ever. We are number one in the market, choose for us, choose for quality!</p>
                </div>
                <div class="card-footer">
                    <a href="#">Samuel.LunaSol@celestial.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body">
                    <h4 class="card-title">Kris Manuello</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Insurance specialist</h6>
                    <p class="card-text">Kris has been doing this job for 10 years and he knows everything there is about insurance. He will make sure you are in safe hands.</p>
                </div>
                <div class="card-footer">
                    <a href="#">Kris.Manuello@celestial.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body">
                    <h4 class="card-title">Louis Quitton</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Motivated employee</h6>
                    <p class="card-text">Every employee here at celestial insurances is unique, hardowrking and helpfull. If at any moment you have a question, don't be afraid to ask. We love to help you and keep you safe</p>
                </div>
                <div class="card-footer">
                    <a href="#">Louis.Quitton@celestial.com</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Our Customers -->
    <h2>Our Customers</h2>
    <div class="row">
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Celestial Insurances 2018</p>
    </div>
    <!-- /.container -->
</footer>
<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/contact_me.js}"></script>
<script th:src="@{/js/jqBootstrapValidation.js}"></script>
</body>
</html>